{% extends "base.html" %}


{% block content %}
<h1>Creation of a 'Proxy' UnoDocument & serving files</h1>
<p>A proxy is used in utils module to generate uno files (writer only)</p>
<p>It allowed to automatically map some fields or fill a named table.</p>

<h2>Not done yet</h2>

<ul>
<li>serve file generated</li>
<li>handle temp files</li>
</ul>

<h2>Question</h2>
<p>What's going on once a file is downloaded. Should be deleted. How cant it be done?</p>

{% if object_list %}

    <table>
        <thead>
             <tr>
                <th>Name</th>
                <th>First Name</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in object_list %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.firstname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No contact.</p>
{% endif %}
{% endblock %}