{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}odt files management{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    {% block css %}{% endblock %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet"/>

  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
